* {
    font-family: 'RobotoMono Nerd Font', sans-serif;
    min-height: 0;
    border-radius: 0;
    font-size:1.05em;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #cdd6f4;
}



#keyboard-state {
    margin-right: 0px;
}

#waybar.empty #window {
  background: none;
}

#custom-launcher,
#mode,
#window,
#network,
#custom-updates,
#custom-keyboard-layout,
#cpu,
#temperature,
#memory,
#backlight,
#pulseaudio,
#battery,
#clock,
#tray,
#workspaces,
#mpd {
    padding: 2px 10px;
    background: rgba(51, 46, 65, 0.5);
    margin-top: 5px;
    margin-bottom: 5px;
}

#window{
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#network {
  padding-left: 15px;
  padding-right: 2px;
  border-radius: 15px 0px 0px 15px;
}

#network{
    color:#f5e0dc;
}

#custom-updates{
	color: #a6e3a1;
}

#custom-keyboard-layout{
   color:#f9e2af;
}

#cpu{
    color:#f5e0dc;
}

#temperature{
    color: #a6e3a1;
}

#temperature.critical{
    color: #f38ba8;
}

#memory{
    color: #b4befe;
}

#pulseaudio{
    color: #f9e2af;
}

#pulseaudio.muted{
    color: #f9e2af;
}

#battery{
    color: #a6e3a1;
}

#battery.critical {
    color: #f38ba8;
}

#clock{
 color: #b4befe;
}

#tray {
  padding-right: 15px;
  border-radius: 0px 15px 15px 0px;
  margin-right: 10px
}

#workspaces {
    background: rgba(51, 46, 65, 0.5);
    margin-left: 10px;
    border-radius: 15px;
}

#workspaces button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 0 0 0;
    min-width: 0;
    transition: color 0.4s ease;
}

#workspaces button box {
    padding: 0 0 0 0;
    margin: 0 0 0 0; 
}

#workspaces button box label {
    font-size: 13px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#workspaces button.focused,
#workspaces button.active {
  color: #89b4fa;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#workspaces button:hover {
    border: 0px;
    background: rgba(0, 0, 0, 0);
  color: #74c7ec;
}
