/* Gruvbox Dark */
@define-color bg #282828;

@define-color fg #ebdbb2;
@define-color fg_dim #a89985;
@define-color fg_active #fe8019;
@define-color fg_warning #fabd2f;
@define-color fg_critical #fb4934;
@define-color fg_green #b8bb26;
@define-color fg_blue #83a598;
@define-color fg_purple #d3869b;
@define-color fg_aqua #8ec07c;


* {
    font-family: 'JetBrainsMono Nerd Font', sans-serif;
    min-height: 0;
    border-radius: 0;
    font-size:1.05em;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    /* background: @bg; */
    margin:0;
    padding:0;
    color: @fg;
}



#keyboard-state {
    margin-right: 0px;
}

#waybar.empty #window {
  background: none;
}

#custom-launcher,
#mode,
#window,
#network,
#custom-updates,
#custom-keyboard-layout,
#cpu,
#temperature,
#memory,
#backlight,
#pulseaudio,
#battery,
#clock,
#tray,
#workspaces,
#mpd {
    padding: 2px 10px;
    background: @bg;
    margin-top: 0px;
    margin-bottom: 0px;
}

#window{
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#network {
  padding-left: 15px;
  padding-right: 2px;
  border-radius: 10px 0px 0px 10px;
}

#network{
    color: @fg_purple;
}

#custom-updates{
	color: @fg_active;
}

#custom-keyboard-layout{
   color: @fg_active;
}

#cpu{
    color: @fg_aqua;
}

#temperature{
    color: @fg_green;
}

#temperature.critical{
    color: @fg_critical;
}

#memory{
    color: @fg_active;
}

#pulseaudio{
    color: @fg_active;
}

#pulseaudio.muted{
    color: @fg_warning;
}

#battery{
    color: @fg_green;
}

#battery.critical {
    color: @fg_critical;
}

#clock{
 color: @fg;
}

#tray {
  padding-right: 15px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px
}

#workspaces {
    background: @bg;
    margin-left: 10px;
    border-radius: 10px;
}

#workspaces button {
    color: @fg_dim;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 0 0 0;
    min-width: 0;
    transition: color 0.4s ease;
}

#workspaces button box {
    padding: 0 0 0 0;
    margin: 0 0 0 0; 
}

#workspaces button box label {
    font-size: 13px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#workspaces button.focused,
#workspaces button.active {
  color: @fg_active;
}

#workspaces button.urgent {
  color: @fg_critical;
}

#workspaces button.visible:not(.focused)  {
    color: @fg
}

#workspaces button:hover {
    border: 0px;
    background: rgba(0, 0, 0, 0);
  color: @fg;
}
